In [15]:
#import pandas
import pandas as pd

#select files
file_path_empregados =  "raw_data/atividades_econ_rj_ap.xls"

# trying cleaning for one 2005 sheet
dataframe_2005 = pd.read_excel(file_path_empregados, sheet_name="2005", header=3,  nrows=224, usecols="A:Z")

In [16]:
dataframe_2005.head()

,Bairros,Extrativa mineral,Minerais não-metálicos,Indústria metalúrgica,Indústria mecânica,Indústria do material elétrico e de comunicações,Indústria de material de transporte,Indústria da madeira e do mobiliário,"Indústria do papel, papelão, editorial e gráfica","Indústria da borracha, fumo, couros, peles, similares e diversas",...,Comércio varejista,Comércio atacadista,"Instituições de crédito, seguros e capitalização","Comércio e administração de imóveis, valores mobiliários, serviços técnicos",Transportes e comunicações,"Serviços de alojamento, alimentação, reparação, manutenção, redação...","Serviços médicos, odontológicos e veterinários",Ensino,Administração pública direta e autárquica,"Agricultura, silvicultura, criação de animais, extrativismo vegetal"
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,2168,5022,12145,9180,4182,7394,2526,19329,11540,...,264515,53893,60126,315991,131516,250829,88107,85150,392166,1883
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Área de Planejamento 1,1054,515,950,2167,627,915,157,7821,2238,...,35257,10798,30126,121469,35983,53782,16783,6605,347036,656
4,Região de Planejamento 1.1,1054,515,950,2167,627,915,157,7821,2238,...,35257,10798,30126,121469,35983,53782,16783,6605,347036,656

In [17]:
#drop rows that we don't need
dataframe_2005.drop([0, 1, 2, 3, 4, 5, 10, 12, 17, 22, 24, 26, 27, 28, 29, 38, 41, 49, 51, 52, 56, 61, 62, 63, 64,
        69, 71, 72, 89, 91, 92, 99, 113, 114, 121, 123, 124, 128, 133, 134, 139, 146, 147, 163, 164, 165, 
         166, 177, 179, 180, 189, 190, 191, 192, 197, 204, 205, 211, 212, 216, 217, 221], inplace=True)

In [18]:
dataframe_2005.head()

,Bairros,Extrativa mineral,Minerais não-metálicos,Indústria metalúrgica,Indústria mecânica,Indústria do material elétrico e de comunicações,Indústria de material de transporte,Indústria da madeira e do mobiliário,"Indústria do papel, papelão, editorial e gráfica","Indústria da borracha, fumo, couros, peles, similares e diversas",...,Comércio varejista,Comércio atacadista,"Instituições de crédito, seguros e capitalização","Comércio e administração de imóveis, valores mobiliários, serviços técnicos",Transportes e comunicações,"Serviços de alojamento, alimentação, reparação, manutenção, redação...","Serviços médicos, odontológicos e veterinários",Ensino,Administração pública direta e autárquica,"Agricultura, silvicultura, criação de animais, extrativismo vegetal"
6,Saúde,-,5,2,9,11,3,-,13,12,...,698,74,30,696,797,154,50,39,385,-
7,Gamboa,-,8,30,8,-,-,-,103,-,...,380,99,29,550,932,507,7,-,-,-
8,Santo Cristo,-,-,39,83,47,-,48,157,132,...,571,349,24,825,6540,571,178,-,-,2
9,Caju,14,-,132,-,-,742,3,742,-,...,122,1,24,158,481,280,6,11,64,3
11,Centro,659,384,301,1172,133,161,34,4557,849,...,24884,5259,26649,95081,19762,41974,12590,5005,243676,645

In [20]:
#check all columns to be melted
dataframe_2005.columns

Index(['Bairros', 'Extrativa mineral', 'Minerais não-metálicos',
       'Indústria metalúrgica', 'Indústria mecânica',
       'Indústria do material elétrico e de comunicações',
       'Indústria de material de transporte',
       'Indústria da madeira e do mobiliário',
       'Indústria do papel, papelão, editorial e gráfica',
       'Indústria da borracha, fumo, couros, peles, similares e diversas',
       'Indústria química de produtos farmacêuticos, veterinários, perfumaria...',
       'Indústria têxtil do vestuário e artefatos de tecidos',
       'Indústria de calçados',
       'Indústria de produtos alimentícios, bebidas e álcool etílico',
       'Serviços industriais de utilidade pública ', 'Construção civil',
       'Comércio varejista', 'Comércio atacadista',
       'Instituições de crédito, seguros e capitalização',
       'Comércio e administração de imóveis, valores mobiliários, serviços técnicos',
       'Transportes e comunicações',
       'Serviços de alojamento, alimentação, reparação, manutenção, redação...',
       'Serviços médicos, odontológicos e veterinários', 'Ensino',
       'Administração pública direta e autárquica',
       'Agricultura, silvicultura, criação de animais, extrativismo vegetal'],
      dtype='object')

In [22]:
#melt columns 
df_melted_2005 = pd.melt(dataframe_2005, id_vars =['Bairros'], value_vars =['Extrativa mineral', 'Minerais não-metálicos',
       'Indústria metalúrgica', 'Indústria mecânica',
       'Indústria do material elétrico e de comunicações',
       'Indústria de material de transporte',
       'Indústria da madeira e do mobiliário',
       'Indústria do papel, papelão, editorial e gráfica',
       'Indústria da borracha, fumo, couros, peles, similares e diversas',
       'Indústria química de produtos farmacêuticos, veterinários, perfumaria...',
       'Indústria têxtil do vestuário e artefatos de tecidos',
       'Indústria de calçados',
       'Indústria de produtos alimentícios, bebidas e álcool etílico',
       'Serviços industriais de utilidade pública ', 'Construção civil',
       'Comércio varejista', 'Comércio atacadista',
       'Instituições de crédito, seguros e capitalização',
       'Comércio e administração de imóveis, valores mobiliários, serviços técnicos',
       'Transportes e comunicações',
       'Serviços de alojamento, alimentação, reparação, manutenção, redação...',
       'Serviços médicos, odontológicos e veterinários', 'Ensino',
       'Administração pública direta e autárquica',
       'Agricultura, silvicultura, criação de animais, extrativismo vegetal'], 
        var_name ='Atividade-Economica', value_name = "Numero-Empregos")

In [24]:
#check df new structure order by bairros
df_melted_2005.sort_values(by=['Bairros'])

,Bairros,Atividade-Economica,Numero-Empregos
2003,Abolição,"Indústria de produtos alimentícios, bebidas e ...",14
383,Abolição,Indústria metalúrgica,17
2813,Abolição,"Instituições de crédito, seguros e capitalização",88
2489,Abolição,Comércio varejista,1451
1031,Abolição,Indústria da madeira e do mobiliário,-
...,...,...,...
866,Água Santa,Indústria de material de transporte,-
3296,Água Santa,"Serviços de alojamento, alimentação, reparação...",9
218,Água Santa,Minerais não-metálicos,-
2000,Água Santa,"Indústria de produtos alimentícios, bebidas e ...",-
3134,Água Santa,Transportes e comunicações,287

In [25]:
#find and replace "-" to 0 
df_melted_2005['Numero-Empregos'].replace('-', 0, inplace=True)

In [26]:
#import bairros, areas de planejamento, regiao de planejamento e regiao administrativa
file_path_bairros = "raw_data/AP-RP-RA-Bairros.csv"
bairros =  pd.read_csv(file_path_bairros)

In [28]:
#check
bairros.head(3)

,AP,RP,RA,Bairros
0,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária,Saúde
1,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária,Gamboa
2,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária,Santo Cristo

In [29]:
#merge empregos with bairros on column Bairros
complete_2005 = pd.merge(df_melted_2005, bairros, on='Bairros')

In [31]:
complete_2005.head()

,Bairros,Atividade-Economica,Numero-Empregos,AP,RP,RA
0,Saúde,Extrativa mineral,0,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária
1,Saúde,Minerais não-metálicos,5,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária
2,Saúde,Indústria metalúrgica,2,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária
3,Saúde,Indústria mecânica,9,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária
4,Saúde,Indústria do material elétrico e de comunicações,11,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária

In [32]:
#add year to dataframe and reorder columns 
complete_2005['Ano'] = '2005'
complete_2005 = complete_2005[['Ano', 'AP', 'RP', 'RA', 'Bairros', 'Atividade-Economica', 'Numero-Empregos']]

In [33]:
#check
complete_2005

,Ano,AP,RP,RA,Bairros,Atividade-Economica,Numero-Empregos
0,2005,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária,Saúde,Extrativa mineral,0
1,2005,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária,Saúde,Minerais não-metálicos,5
2,2005,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária,Saúde,Indústria metalúrgica,2
3,2005,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária,Saúde,Indústria mecânica,9
4,2005,Área de Planejamento 1,Região de Planejamento 1.1,I Portuária,Saúde,Indústria do material elétrico e de comunicações,11
...,...,...,...,...,...,...,...
3995,2005,Área de Planejamento 5,Região de Planejamento 5.4,XXVI Guaratiba,Pedra de Guaratiba,"Serviços de alojamento, alimentação, reparação...",120
3996,2005,Área de Planejamento 5,Região de Planejamento 5.4,XXVI Guaratiba,Pedra de Guaratiba,"Serviços médicos, odontológicos e veterinários",6
3997,2005,Área de Planejamento 5,Região de Planejamento 5.4,XXVI Guaratiba,Pedra de Guaratiba,Ensino,50
3998,2005,Área de Planejamento 5,Região de Planejamento 5.4,XXVI Guaratiba,Pedra de Guaratiba,Administração pública direta e autárquica,0
3999,2005,Área de Planejamento 5,Região de Planejamento 5.4,XXVI Guaratiba,Pedra de Guaratiba,"Agricultura, silvicultura, criação de animais,...",0

In [ ]:
#loop all years in every sheet
#create empty dataframe
empregados = pd.DataFrame()

#every sheets name related to its year
anos =  ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

#repeat all the steps looping every year

for ano in anos:
    df = pd.read_excel(file_path_empregados, sheet_name=ano, header=3,  nrows=224, usecols="A:Z")
    df.drop([0, 1, 2, 3, 4, 5, 10, 12, 17, 22, 24, 26, 27, 28, 29, 38, 41, 49, 51, 52, 56, 61, 62, 63, 64,
        69, 71, 72, 89, 91, 92, 99, 113, 114, 121, 123, 124, 128, 133, 134, 139, 146, 147, 163, 164, 165, 
         166, 177, 179, 180, 189, 190, 191, 192, 197, 204, 205, 211, 212, 216, 217, 221], inplace=True)
    df_melt = pd.melt(df, id_vars =['Bairros'], value_vars =['Extrativa mineral', 'Minerais não-metálicos',
       'Indústria metalúrgica', 'Indústria mecânica',
       'Indústria do material elétrico e de comunicações',
       'Indústria de material de transporte',
       'Indústria da madeira e do mobiliário',
       'Indústria do papel, papelão, editorial e gráfica',
       'Indústria da borracha, fumo, couros, peles, similares e diversas',
       'Indústria química de produtos farmacêuticos, veterinários, perfumaria...',
       'Indústria têxtil do vestuário e artefatos de tecidos',
       'Indústria de calçados',
       'Indústria de produtos alimentícios, bebidas e álcool etílico',
       'Serviços industriais de utilidade pública ', 'Construção civil',
       'Comércio varejista', 'Comércio atacadista',
       'Instituições de crédito, seguros e capitalização',
       'Comércio e administração de imóveis, valores mobiliários, serviços técnicos',
       'Transportes e comunicações',
       'Serviços de alojamento, alimentação, reparação, manutenção, redação...',
       'Serviços médicos, odontológicos e veterinários', 'Ensino',
       'Administração pública direta e autárquica',
       'Agricultura, silvicultura, criação de animais, extrativismo vegetal'], 
        var_name ='Atividade-Economica', value_name = "Numero-Empregos")
    df_melt['Numero-Empregos'].replace('-', 0, inplace=True)
    df_merged = pd.merge(df_melt, bairros, on='Bairros')
    df_merged['Ano'] = ano
    df_merged = df_merged[['Ano', 'AP', 'RP', 'RA', 'Bairros', 'Atividade-Economica', 'Numero-Empregos']]
    empregados = empregados.append(df_merged,ignore_index=True)